[Unit]
Description=wisc_down
After=NetworkManager.service

[Service]
Type=simple
ExecStart=/home/yagnesh/git/iitmtv/wisc_down.py
Restart=always

[Install]
WantedBy=multi-user.target
